@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(rgba(38, 94, 83, 0.6), rgba(38, 94, 83, 0.3)), url(./img/bg.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-size: 1.6rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 30rem;
    width: 30rem;
    font-size: 1.8rem;
}

.container.breathe {
    animation: breathe 7.5s linear forwards infinite;
}

.circle {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background-color: #011408;
   z-index: -1;
}

.gradient-circle {
    position: absolute;
    width: 32rem;
    height: 32rem;
    background-image: conic-gradient(
    #55b7a4 0%,
    #4ca493 40%,
    #fff 40%,
    #fff 60%,
    #336d62 60%,
    #2a5b52 100%
    );
    border-radius: 50%;
    z-index: -2;
}

.pointer {
    display: block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #fff;
}

.pointer-container {
    position: absolute;
    top: -3.95rem;
    left: 14rem;
    animation: rotate 7.5s infinite linear forwards;
    height: 19rem;
    transform-origin: bottom;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.2);
    }

    60% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}