@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-image: linear-gradient(rgba(132, 158, 182, 0.377), rgba(95, 158, 66, 0.5)), url(./img/back-min.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 1.6rem;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

h1 {
    font-size: 8rem;
    color: rgb(0, 0, 0);
}

.container {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 95%;
    max-width: 100rem;
    height: 75%;
}

.player {
    background-color: #ececec99;
    height: 10rem;
    width: 30%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.player.active {
    background-color: #ececec;
    animation: shadow 1.25s linear infinite;
}

.player.active .player__heading {
    color: #db1608;
    font-size: 5rem;
    animation: color 1.25s linear infinite;
}

.player__heading {
    font-size: 4rem;
    color: #6d6d6d; 
}

.player__score {
    font-size: 6rem;
    color: #464646;
}

@media only screen and (max-width: 800px) {
    .player.active .player__heading {
        font-size: 4rem;
    }

    .player__heading {
        font-size: 3.25rem;
    }

    .player__score {
        font-size: 4.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .player {
        height: 7rem;
    }

    .player.active .player__heading {
        font-size: 3.4rem;
    }

    .player__heading {
        font-size: 2.7rem;
    }
}

.game-board {
    width: 75%;
    height: 80%;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .5rem;
    margin: 1rem 4rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.15);
}

.game-board__field {
    background-color: #ededed46;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19vh;
    border-radius: 5px;
    user-select: none;
}

.game-board__field.selected {
    background-color: rgba(237, 237, 237, .9);
    cursor: default;
}

.controls {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-flex;
    align-items: center;
    margin: 0 2rem;
    padding: .5rem 3rem;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    /* border-radius: 5px;
    border: 1px solid #666;
    background-color: #3688ca;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.25);   */
    transition: all .2s;
}

.btn:focus {
    outline: none;
}

.btn:hover,
.btn:active {
    color: rgb(207, 207, 207); 
}

.btn:hover .btn__icon--new { animation: rotate .5s; }
.btn:hover .btn__icon--reset { transform: translateX(-3px); }

.btn__icon--new {
    fill: currentColor;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.btn__icon--reset {
    fill: currentColor;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .5rem;
    transition: transform .3s;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes shadow {
    0%,
    100% {
        box-shadow: inset 0 -1rem 3rem .5rem rgba(218, 89, 3, .9), inset 0 1rem 3rem .5rem rgba(218, 89, 3, .9),
         0 -1rem 2rem rgba(218, 89, 3, .9), 0 1rem 2rem rgba(218, 89, 3, .9), 
         0 .3rem 1rem #fff, 0 -.3rem 1rem #fff;
    }

    /* 20% {
        box-shadow: inset 0 -1rem 4rem .5rem rgba(231, 85, 1, 0.9), inset 0 1rem 4rem .5rem rgba(231, 85, 1, 0.9),
         0 -1rem 2rem rgba(231, 85, 1, 0.9), 0 1rem 2rem rgba(231, 85, 1, 0.9),
         0 .3rem 1.5rem #fff, 0 -.3rem 1.5rem #fff;
    } */

    50% {
        box-shadow: inset 0 -1rem 5rem  rgba(231, 1, 1, .8), inset 0 1rem 5rem  rgba(231, 1, 1, .8),
         0 -1rem 3rem .5rem rgba(231, 1, 1, .8), 0 1rem 3rem .5rem rgba(231, 1, 1, .8), 
         0 .3rem 2rem #fff, 0 -.3rem 2rem #fff;
    }

    /* 60% {
        box-shadow: inset 0 -1rem 5rem .5rem rgba(245, 41, 5, .9), inset 0 1rem 5rem .5rem rgba(245, 41, 5, .9),
         0 -1rem 3rem rgba(245, 41, 5, .9), 0 1rem 3rem rgba(245, 41, 5, .9), 
         0 .3rem 2rem #fff, 0 -.3rem 2rem #fff;
    } */

    /* 80% {
        box-shadow: inset 0 -1rem 3rem .5rem rgba(231, 47, 1, 0.9), inset 0 1rem 3rem .5rem rgba(231, 47, 1, 0.9),
         0 -1rem 2rem rgba(231, 47, 1, 0.9), 0 1rem 2rem rgba(231, 47, 1, 0.9), 
         0 .3rem 1.5rem #fff, 0 -.3rem 1.5rem #fff;
    } */
}

@keyframes color {
    0%,
    20%,
    100% {
        color: #db1608;
    }
    50%,
    60% {
        color: #311000;
    }  
}
