@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-size: 1.6rem;
    font-family: 'Abel', sans-serif;
    background-color: #222222;
    padding: 2rem;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.flex {
    display: flex;
    justify-content: center;
    width: 50%;
}

.search {
    width: 100%;
    display: inline-block;
    padding: .5rem 1.5rem;
    font-family: inherit;
    font-size: inherit;
    border-radius: 3px;
    border: 1px solid #dadada;
}

.search-btn {
    margin-left: -2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform .3s;
    backface-visibility: hidden;
}

.search-btn:hover,
.search-btn:active {
    transform: scale(1.2);
}

.search-btn:focus {
    outline: none;
}

.random-btn {
    width: 3rem;
    border-radius: 3px;
    border: 1px solid #dadada;
    background-color: #fff;
    margin-left: 1.7rem;
    cursor: pointer;
}